*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f3f3f3;
    color:#222;
    direction:rtl;
}


/* الهيدر */

header{
    background:#0d0d0d;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 50px;
    position:sticky;
    top:0;
    z-index:10;
}

.logo img{
    width:180px;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
}

nav a{
    color:white;
    text-decoration:none;
    font-size:18px;
}


/* الواجهة */

.hero{
    min-height:80vh;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:60px;
    padding:60px;
    background:linear-gradient(135deg,#0b1622,#1d3557);
    color:white;
    flex-wrap:wrap;
}

.hero img{
    width:520px;
    max-width:100%;
    border-radius:20px;
}

.hero-text h1{
    font-size:52px;
}

.hero-text p{
    font-size:22px;
    margin:25px 0;
}

.btn{
    background:#18c58f;
    color:white;
    padding:15px 35px;
    border-radius:10px;
    text-decoration:none;
}


/* بطاقة الرحلة */

.trip-card{

    width:90%;
    max-width:800px;

    margin:60px auto;

    background:white;

    padding:40px;

    border-radius:25px;

    box-shadow:0 15px 35px rgba(0,0,0,.15);

    border-top:6px solid #18c58f;

}



.company-name{

    text-align:right;

    font-size:28px;

    font-weight:bold;

    font-family:Georgia,serif;

    color:#0d0d0d;

    margin-bottom:25px;

}



.trip-card h2{

    text-align:center;

    font-size:32px;

    margin-bottom:25px;

}



.line{

    height:2px;

    background:#18c58f;

    margin:25px 0;

}



.trip-info{

    display:flex;

    justify-content:center;

    gap:80px;

    text-align:center;

}



.trip-info span{

    font-size:30px;

}


.trip-info p{

    margin:10px;

    font-size:18px;

}



.features{

    display:flex;

    justify-content:center;

    gap:15px;

    flex-wrap:wrap;

    margin-top:30px;

}



.features span{

    background:#0d0d0d;

    color:white;

    padding:12px 20px;

    border-radius:30px;

}



/* الأزرار */

.buttons{

    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;

}



.buttons button{

    background:#18c58f;

    color:white;

    border:none;

    padding:15px 35px;

    border-radius:12px;

    font-size:18px;

    cursor:pointer;

}



/* المعلومات */

.info-box{

    display:none;

    width:90%;

    max-width:600px;

    margin:30px auto;

    background:white;

    padding:30px;

    border-radius:20px;

    text-align:center;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

}



/* الفوتر */

footer{

    background:#111;

    color:white;

    text-align:center;

    padding:25px;

    margin-top:60px;

}



/* الهاتف */

@media(max-width:900px){

header{

flex-direction:column;

gap:20px;

}


nav ul{

flex-direction:column;

text-align:center;

}


.hero{

padding:30px;

}


.trip-info{

flex-direction:column;

gap:20px;

}

}
